---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

type identityType = {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: Array<string>;
};

const pageTitle: string = "About Me";

const identity: identityType = {
  firstName: "Andika Nur Pratama",
  country: "indonesia",
  occupation: "Student",
  hobbies: ["sleep", "playing game"],
};

const skills: Array<string> = ["HTML, CSS, JS, NODE, ASTRO"];

const happy: boolean = true;
const finished: boolean = false;
const goal: number = 10;
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and
          {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>
