---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projects";
import type { Project } from "../types/Project";

const projectKeys = Object.keys(projects) as Array<keyof typeof projects>;
---

<Layout>
	<div class="flex min-h-screen p-12 max-w-6xl mx-auto relative">
		<main class="w-full flex flex-col gap-6">
			<h1 class="text-center font-lexend text-3xl font-bold @dark:text-#e5e7eb">Projects</h1>
			<div class="flex flex-col gap-16">
				{
					projectKeys.map((key) => {
						const _projects = projects[key] as unknown as Project[];
						return (
							<div class="flex flex-col gap-4">
								<h2>{key}</h2>
								<div class="grid grid-cols-3 gap-3">
									{_projects.map((p: Project) => (
										<a
											href={p.url}
											class="relative duration-500 ease-in-out transition-all flex items-center opacity-75 rounded-md overflow-hidden py-2 px-4 hover:(opacity-100) project-items">
											<div class="mouses absolute w-10 h-10 blur-3xl bg-gray opacity-75" style="display: none;" />
											<div class="pt-2 pr-5">
												<div
													class={`w-full h-10 w-10 aspect-square grow-0 shrink object-contain rounded-lg block ${p.image}`}
												/>
											</div>
											<div class="w-full">
												<h3 class="font-lexend text-xl font-bold">{p.name}</h3>
												<p class="font-lexend text-sm">{p.description}</p>
											</div>
										</a>
									))}
								</div>
							</div>
						);
					})
				}
			</div>
		</main>
	</div>
</Layout>

<script>
	const projectItems = document.querySelectorAll(".project-items");
	projectItems.forEach((item) => {
		const mouses = item.querySelector(".mouses") as HTMLElement;

		item.addEventListener("mouseenter", () => {
			mouses.style.display = "block";
		});

		item.addEventListener("mousemove", (event: any) => {
			const rect = item.getBoundingClientRect();
			mouses.style.left = `${event.clientX - rect.left}px`;
			mouses.style.top = `${event.clientY - rect.top}px`;
		});

		item.addEventListener("mouseleave", () => {
			mouses.style.display = "none";
		});
	});
</script>
