---
const icons = [
	{ icon: "i-charm-github", color: "black", x: -250, y: -260, r: 25 },
	{ icon: "i-charm-gitlab", color: "#da4127", x: -300, y: 200, r: 45 },
	{ icon: "i-charm-gamepad", color: "#1e3960", x: 400, y: -200, r: 5 },
	{ icon: "i-charm-heart", color: "#ff7191", x: 150, y: -300, r: -10 },
	{ icon: "i-charm-clover", color: "#83df4d", x: -500, y: 20, r: -15 },
	{ icon: "i-charm-robot", color: "#0182f7", x: 300, y: 180, r: 3 },
	{ icon: "i-charm-rocket", color: "#f7b801", x: -580, y: -100, r: -30 },
	{ icon: "i-charm-star", color: "#f7b801", x: 482, y: -56, r: 45 },
];

const { index } = Astro.props;
---

<div class={`absolute top-0 left-0 w-full h-full flex items-center justify-center -z-10 opacity-75`}>
	<div>
		{
			icons.map(({ icon, color, x, y, r }, i) => (
				<div
					class={`${icon} aspect-square absolute explosion-target`}
					style={`animation-delay: ${i * 0.1}s; color: ${color}; transform: translate(${x}px, ${y}px) rotate(${r}deg); font-size: 2rem`}
				/>
			))
		}
	</div>
</div>
