---
const links = [
	{
		name: "Blog",
		url: "/blog",
	},
	{
		name: "Projects",
		url: "/projects",
	},
];

const socialMediaLinks = [
	{
		icon: "i-myna-brand-github",
		helptext: "Github",
		url: "https://github.com/xirf",
	},
	{
		icon: "i-myna-brand-x",
		helptext: "Twitter",
		url: "https://twitter.com/xirfs",
	},
	{
		icon: "i-myna-envelope",
		helptext: "Mail me",
		url: "mailto:itsandka@gmail.com",
	},
	{
		icon: "i-myna-rss",
		helptext: "RSS",
		url: "/feed.xml",
	},
];
---

<header class="w-full flex justify-between p-4 mt-4">
	<h1>
		[andka@xirf ~]$ <span class="text-gray-400 animate-pulse">_</span>
	</h1>
	<nav>
		<ul class="flex gap-6 items-center justify-center">
			{
				links.map((link) => (
					<li>
						<a
							href={link.url}
							class="text-gray-400 hover:text-white transition-all duration-300"
							aria-label={link.name}
							data-title={link.name}>
							{link.name}
						</a>
					</li>
				))
			}
			{
				socialMediaLinks.map((link) => (
					<li>
						<a
							href={link.url}
							target="_blank"
							class="text-gray-400 hover:text-white transition-all duration-300"
							aria-label={link.helptext}
							data-title={link.helptext}>
							<div class={`${link.icon} w-6 h-6`} />
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
