---
import ToggleTheme from "./ToggleTheme.astro";

const links = [
	{
		href: "/blog",
		label: "Blog",
		icon: "i-myna-book",
	},
	{
		href: "/projects",
		label: "Projects",
		icon: "i-myna-sparkles",
	},
	{
		href: "https://blog.mryoga.my.id",
		label: "Notes",
		icon: "i-myna-book",
	},
	{
		href: "/show",
		label: "Viewer",
		icon: "i-myna-book",
	},
];

const iconLinks = [
	{
		href: "https://github.com/mrzonk",
		icon: "i-myna-brand-github",
		label: "GitHub",
	},
	{
		href: "https://twitter.com/g_yogapratama",
		icon: "i-myna-brand-x",
		label: "Twitter",
	},
	{
		href: "mailto:galang058@gmail.com",
		icon: "i-myna-envelope",
		label: "Email",
	},
	{
		href: "/rss.xml",
		icon: "i-myna-rss",
		label: "RSS",
	},
];
---

<nav class="px-8 py-6 w-full flex items-center justify-between fixed bottom-0 left-0 md:relative bg-l-base dark:bg-d-base z-100">
	<a href="/" title="Home" aria-label="Home">
		<div class="flex justify-between gap-2 font-bold">
			<span class="i-myna-terminal w-6 h-6"></span>
			<span class="hidden sm:block">Galang</span>
		</div>
	</a>
	<div class="flex items-center gap-4">
		{
			links.map((link) => (
				<a href={link.href} class=" flex items-center" title={link.label} aria-label={link.label}>
					<span class={link.icon + " w-5 h-5 sm:hidden"} />
					<span class=" hidden sm:block" >{link.label}</span>
				</a>
			))
		}
		{
			iconLinks.map((link) => (
				<a href={link.href} class=" flex items-center" rel="noopener" target="_blank" aria-label={link.label} title={link.label}>
					<span class={link.icon + " w-5 h-5"} />
				</a>
			))
		}
		<ToggleTheme />
	</div>
</nav>
